<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunflower.icpc_volunteer_management.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.sunflower.icpc_volunteer_management.userInfo.UserInfo">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="OTHER"/>
            <result property="isEnabled" column="is_enabled" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="TINYINT"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="OTHER"/>
            <result property="profilePicture" column="profile_picture" jdbcType="VARCHAR"/>
            <result property="school" column="school" jdbcType="VARCHAR"/>
            <result property="grade" column="grade" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,email,password,
        role,is_enabled,created_at,
        updated_at,state,address,
        sex,profile_picture,school,
        grade
    </sql>
</mapper>
